<a class="btn btn-primary" href="{% url 'users:detail' username=object.username  %}" role="button">Moje konto</a>&nbsp;&nbsp;&nbsp; 
<a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Zmień informacje</a>&nbsp;&nbsp;&nbsp; 
<!--a class="btn btn-primary" href="{% url 'account_email' %}" role="button">Moje adresy E-Mail</a-->
<a class="btn btn-primary" href="{% url 'users:polecwytworce' username=object.username %}" role="button">Zgłoś Wytwórcę</a>
<a class="btn btn-primary" href="{% url 'users:polecrestautacje' username=object.username  %}" role="button">Zgłoś Sklep | Restaurację</a>
<br><br>
{% for site_url in my_sites %}
<a class="btn btn-primary" target='_blank' href="{{site_url}}" role="button">Moja strona</a>&nbsp;&nbsp;&nbsp; 
<a class="btn btn-primary" target='_blank' href="{% url 'users:umowa' username=object.username  %}" role="button">Moja umowa</a>&nbsp; 
<a class="btn btn-primary" href="{% url 'users:qr' username=object.username  %}" role="button">QR kod</a>
{% endfor %}