{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}Umowa: {{ object.username }}{% endblock %}
{% block content %}


<div class="container">
<style>
.deal
{
  white-space: pre-line;
}
center
{
  font-weight: 600;
}
</style>
<div class='deal'>
<center> UMOWA UCZESTNICTWA W PROGRAMIE „Jem Lokalnie”</center>

Niniejsza umowa zawarta została w Łodzi, w dniu {{ user.date_joined|date:"d.m Y" }} roku pomiędzy:

1. <b>Stowarzyszeniem JemLokalnie.org</b>, z siedzibą w Łodzi przy ulicy dr Stefana
Kopcińskiego 32/10, zarejestrowanym w Krajowym Rejestrze Sądowym prowadzonym
przez Sąd Rejonowy Łódź Śródmieście pod numerem KRS 0000680226, o nr NIP: 726-
266-60-11, REGON: 36736277600000, reprezentowanym przez:
 Piotra Różalskiego – pełniącego funkcję prezesa Stowarzyszenia;
 Michała Matulę – pełniącego funkcję członka zarządu Stowarzyszenia;
 zwanym dalej „Stowarzyszeniem”,

a:

2. {{user.full_name}},
{{user.phisical_address}},
NIP/PESEL {{user.tax_id}} , zwanym dalej „Uczestnikiem”
(Stowarzyszenie i Uczestnik zwane są dalej łącznie „Stronami”, a każda ze Stron osobno „Stroną”)


<center>PREAMBUŁA</center>
<center>ZWAŻYWSZY, ŻE:</center>
1. Stowarzyszenie organizuje program pod nazwą „Jem Lokalnie”, mający na celu
promowanie lokalnych producentów i przetwórców żywności oraz punktów handlowych i
placówek gastronomicznych wykorzystujących w swojej działalności produkty lokalne
(zwany dalej „Programem”);
2. Stowarzyszenie wystosowało do Uczestnika zaproszenie do wzięcia udziału w Programie;
3. Uczestnik zamierza wziąć udział w Programie organizowanym przez Stowarzyszenie;
4. Celem uregulowania zasad uczestnictwa Uczestnika w Programie Strony postanowiły
zawrzeć niniejszą Umowę.

<center>STRONY POSTANOWIŁY, CO NASTĘPUJE:</center>
<b>§1. Przystąpienie Uczestnika do Programu</b>
Uczestnik niniejszym oświadcza, że przystępuje do organizowanego przez Stowarzyszenie
Programu na zasadach określonych w niniejszej Umowie oraz Regulaminie, o którym mowa w §2.
poniżej, a Stowarzyszenie powyższe oświadczenie przyjmuje.

<b>§2. Realizacja Umowy</b>
1. Strony zobowiązane są do przestrzegania postanowień niniejszej Umowy oraz Regulaminu
Uczestnictwa w Programie „Jem Lokalnie” (zwanym dalej „Regulaminem”). Regulamin jest
dostępny na stronie internetowej Stowarzyszenia (www.jemlokalnie.org) oraz stanowi
integralną część niniejszej Umowy.
2. Celem umożliwienia Stowarzyszeniu realizacji na rzecz Uczestnika zobowiązań, o których
mowa w § 2 ust. 1 powyżej, Uczestnik zobowiązuje się współpracować ze
Stowarzyszeniem na zasadach wyrażonych w niniejszej umowie oraz w Regulaminie.
3. Stowarzyszenie zobowiązuje się na bieżąco informować Uczestnika o przebiegu spraw
powierzonych do prowadzenia w związku z realizacją niniejszej Umowy i Regulaminu.

<b>§3. Zasady wynagradzania</b>
Udział w Programie jest dla Uczestnika bezpłatny.

<b>§ 4. Oświadczenia i zapewnienia Uczestnika</b>
Uczestnik niniejszym oświadcza i zapewnia wobec Stowarzyszenia, co następuje:
1) Uczestnik prowadzi działalność gospodarczą zgodnie z obowiązującym prawem polskim;
2) podpisanie i wykonanie niniejszej Umowy przez Uczestnika nie wymaga uzyskania
żadnych zgód ani zezwoleń organów administracji publicznej;
3) podpisanie i wykonanie niniejszej Umowy nie spowoduje niemożliwości wykonania
jakiejkolwiek innej umowy, której Uczestnik jest stroną, ani nie naruszy żadnej decyzji
administracyjnej ani orzeczenia sądowego, którymi Uczestnik jest związany;
4) Uczestnik nie jest w stanie likwidacji, upadłości lub postępowania naprawczego;
5) wszystkie informacje i dokumenty przedstawione przez Uczestnika Stowarzyszeniu w celu
wykonania niniejszej Umowy będą rzetelne i prawdziwe.

<b>§ 5. Odpowiedzialność</b>
1. Każda ze Stron niniejszym zobowiązuje się do naprawienia, zgodnie z obowiązującymi
przepisami prawa oraz z uwzględnieniem postanowień niniejszej Umowy, wszelkich szkód,
jakie którakolwiek z pozostałych Stron może ponieść wskutek niewykonania lub
nienależytego wykonania któregokolwiek z zobowiązań danej Strony, wynikających z
niniejszej Umowy lub z nią związanych, chyba że niewykonanie lub nienależyte wykonanie
zobowiązania jest następstwem okoliczności, za które dana Strona odpowiedzialności nie
ponosi.
2. Stowarzyszenie nie ponosi wobec Uczestnika odpowiedzialności za jakiekolwiek niepełne
lub nieprawidłowe wykonanie zobowiązań wynikających z niniejszej Umowy związane z
udzieleniem Stowarzyszeniu przez Uczestnika błędnej lub niepełnej informacji lub nie
udzielania informacji wymaganej przez Stowarzyszenie, jeżeli informacja ta była w
posiadaniu Uczestnika.

<b>§ 6. Cesja</b>
Żadna ze Stron nie ma prawa przenieść całości ani żadnej części swoich praw lub obowiązków
wynikających z niniejszej Umowy na jakąkolwiek osobę trzecią bez wcześniejszej pisemnej zgody
drugiej Strony.

<b>§ 7. Poufność</b>
 1. W poszanowaniu zasad tajemnicy handlowej i dobrych obyczajów, Strony zobowiązują się
nie ujawniać osobom trzecim treści informacji uzyskanych w związku z realizacją niniejszej
Umowy (zwanych dalej “poufnymi informacjami”). Zwolnienie z powyższego obowiązku
może być dokonane jedynie w formie uprzedniej zgody wyrażonej przez drugą Stronę w
formie pisemnej pod rygorem nieważności.
 2. Powyższe zobowiązanie nie dotyczy informacji, które:
 a) zostały podane do publicznej wiadomości w sposób niestanowiący naruszenia Umowy;
 b) są znane Stronie z innych źródeł, bez obowiązku zachowania ich w tajemnicy oraz bez
naruszenia Umowy;
 c) zostały podane do publicznej wiadomości na podstawie pisemnej zgody drugiej Strony;
 d) zostały ujawnione w bezpośrednim celu ochrony interesów prawnych Strony w sporze z
innym podmiotem przed właściwym organem.
 3. Zobowiązanie do zachowania poufności określone w niniejszym paragrafie nie narusza
obowiązku którejkolwiek ze Stron do dostarczania informacji uprawnionym do tego
organom na podstawie obowiązujących przepisów prawa, jak również nie narusza
uprawnień Stron do podawania do publicznej wiadomości ogólnych informacji o ich
działalności.
 4. Strony są również uprawnione do przekazywania poufnych informacji swoim doradcom,
pracownikom i współpracownikom, o ile zostali oni wcześniej zobowiązani do zachowania
ich w tajemnicy/poufności
 5. . Strony przyjmują wobec siebie odpowiedzialność za ujawnienie informacji objętych
zobowiązaniem, o którym mowa w niniejszym paragrafie przez ww. osoby.
 6. Zobowiązanie do zachowania poufności, o którym mowa w niniejszym paragrafie
obowiązuje przez okres trwania Umowy, jak i przez okres 2 lat od daty jej wygaśnięcia.

<b>§ 8. Zawiadomienia</b>
 1. Wszelkie zawiadomienia i korespondencja dokonywane na podstawie lub w związku z
Regulaminem lub Umową będą uznawane za ważne i prawidłowo przekazane, jeżeli
Stronie będącej adresatem zostaną one doręczone w formie pisemnej – osobiście,
kurierem lub listem poleconym, albo, w przypadku gdy Umowa lub Regulamin nie
zastrzegają dla nich formy pisemnej - wysłane pocztą elektroniczną, na następujące
adresy:
 a) Dla Stowarzyszenia:  Łódź, ul. dr Stefana Kopcińskiego 32/10, 
    e-mail: biuro@jemlokalnie.org;
 b) Dla Uczestnika: {{user.full_name}}, {{user.phisical_address}}, 
    e-mail: {{user.email}};

 2. Każda ze Stron może dokonać zmiany powyższych danych w drodze pisemnego
powiadomienia doręczonego drugiej Stronie osobiście, kurierem lub listem poleconym na
adres wskazany w komparycji niniejszej umowy, przy czym zmiana taka nie będzie
stanowiła zmiany Umowy. Strony oświadczają, że zawiadomienia i korespondencja
przekazywane w sposób zgodny z powyżej wskazanymi danymi, do czasu ich ewentualnej
zmiany, będą uważane za ważne i skutecznie doręczone.

<b>§ 9. Koszty</b>
Wszystkie ewentualne koszty i wydatki związane z niniejszą Umową zostaną poniesione przez
Stronę ponosząca taki koszt lub wydatek.

<b>§ 10. Okres obowiązywania</b>
1. Umowa zostaje zawarta na czas nieokreślony od dnia jej zawarcia, przy czym
zobowiązania Stron, o których mowa w § 7. Umowy, obowiązują Strony bez względu
wypowiedzenie niniejszej Umowy.
2. Każda ze Stron może wypowiedzieć Umowę z zachowaniem miesięcznego okresu
wypowiedzenia.
3. Stowarzyszenie może w każdym czasie wypowiedzieć Umowę bez zachowania okresu
wypowiedzenia, jeżeli Uczestnik w sposób uporczywy lub rażący narusza jej
postanowienia, działa nieetycznie lub sprzecznie z prawem lub z zasadami współżycia
społecznego albo nie podejmuje czynności niezbędnych do prawidłowego wykonania
Umowy.
4. Wypowiedzenie Umowy, może nastąpić w formie pisemnej lub poprzez przesłanie
oświadczenia na adres poczty elektronicznej za potwierdzeniem doręczenia (transmisji
danych).

<b>§ 11. Postanowienia końcowe</b>
1. Niniejsza Umowa oraz Regulamin podlegają prawu polskiemu i wszystkie jej postanowienia
interpretowane będą zgodnie z tym prawem.
2. Wszelkie poprawki, uzupełnienia lub innego rodzaju zmiany warunków lub postanowień
niniejszej Umowy wymagają formy pisemnej pod rygorem nieważności.
3. W przypadku ewentualnych sporów Strony dążyć będą do rozstrzygnięć polubownych, a w
razie braku porozumienia podlegają rozstrzygnięciu sądu powszechnego, właściwego
miejscowo dla siedziby Stowarzyszenia.
4. Niniejszą Umowę sporządzono w dwóch jednobrzmiących egzemplarzach w formie
pisemnej, po jednym egzemplarzu dla każdej ze Stron.

W imieniu Stowarzyszenia:
Piotr Różalski

W imieniu Uczestnika:


________________________________

</div>


</div>
{% endblock content %}

