{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load qr_tags %}

{% block title %}QR kod: {{ object.username }}{% endblock %}
{% block content %}


<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="d-inline">{{ object.username }}</h1> <h2 class="d-inline"> ( {{ user_type }} )</h2><h1></h1>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>

<div class="row">
<div class="col-sm-12">
{% include "users/_users_links.html" %}
</div>
</div>
<br><br><br><br>
<div style='float: left'>
{% qr_from_text contact.url 500 %}
{% qr_from_text contact.url 230 %} 
{% qr_from_text contact.url 100 %}
</div>
</div>
{% endblock content %}

