{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "User" %}: {{ object.username }}{% endblock %}
{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      
      <h1 class="d-inline">{{ object.username }}</h1> <h2 class="d-inline"> ( {{ user_type }} )</h2><h1></h1>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>
{% if object == request.user %}
<div class="row">
<div class="col-sm-12">
{% include "users/_users_links.html" %}
</div>
<br><br><br><br>
<div class="col-sm-12"> 
    <style>
    label,small {display:none;}
    input, textarea 
    { 
      border:0 !important; 
      font-size:35px !important;
      font-weight: 600;
      font-family: Amatic SC !important;
      color: black !important;
      box-shadow: none !important;
    }
    </style>
    <formset disabled="disabled" >
    {% include "../website/_form_img.html" with form=fd_iform %}
    {% include "../website/_form_plain.html" with form=fd_form %}
    {% include "../website/_form_img.html" with form=fp_iform %}
    {% include "../website/_form_plain.html" with form=fp_form %}
    {% include "../website/_form_img.html" with form=fs_iform %}
    {% include "../website/_form_plain.html" with form=fs_form %}
    </formset>   
</div>
<style type="text/css">
  .normall
  {
    cursor:default !important;
    background-color: white !important;
  }
</style>
<script type="text/javascript">
  $('formset').find('input, textarea').attr('readonly','readonly').addClass('normall');
  $("input").each(function(){
    if($(this).attr('class') && $(this).attr('class').indexOf("tagwidget") != -1) 
    {
        var i;
        var stuff = ['name','id','class','style','readonly'];
        var attrs = "";
        for (i = 0; i < stuff.length; i++) 
        { 
            if($(this).attr(stuff[i]))
            {
                attrs+=stuff[i]+"='"+$(this).attr(stuff[i])+"' ";
            }
        }
        value = ''
        if($(this).attr('value'))
        {
            value = $(this).attr('value');
        }
        $(this).replaceWith("<textarea "+attrs+">"+value+"</textarea>");
      }
});
</script>

</div>
{% endif %}
</div>
{% endblock content %}

