{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "User" %}: {{ object.username }}{% endblock %}
{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      
      <h1 class="d-inline">{{ object.username }}</h1> <h2 class="d-inline"> ( {{ user_type }} )</h2><h1></h1>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>

<div class="row">
<div class="col-sm-12">
{% include "users/_users_links.html" %}
</div>
<br><br><br><br><br>
<h2>
 Jeżeli uważasz że znasz godnego polecenia wytwórcę żywności, sklep lub restaurację napisz do nas na adres <a href="mailto:biuro@jemlokalnie.org">biuro@jemlokalnie.org</a> a skontaktujemy się znim aby zaprosić go do Jemlokalnie.org.<br><br>Z góry dziękukjemy<br>
 Zespół Jemlokalnie.org<br>
</h2>
</div>

</div>
{% endblock content %}

