{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  <h1 class="d-inline">{{ user.username }}</h1> <h2 class="d-inline"> ( {{ user_type }} )</h2><h1></h1>
<div class="row">
<div class="col-sm-12">
{% include "users/_users_links.html" %}
</div>
</div><br><br>
  <form class="form-horizontal" action="{% url 'users:update' %}" method="post" 
  enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form|crispy }}
    {{ fd_form.media }}
    {{ fd_form|crispy}}
    {{ fd_iform.media }}
    {{ fd_iform|crispy}}
    {{ fp_form.media }}
    {{ fp_form|crispy}}
    {{ fp_iform.media }}
    {{ fp_iform|crispy}}
    {{ fs_form.media }}
    {{ fs_form|crispy}}
    {{ fs_iform.media }}
    {{ fs_iform|crispy}}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
        <br><br>
      </div>
    </div>
  </form> 
<script>
  $("input").each(function(){
    if($(this).attr('class') && $(this).attr('class').indexOf("tagwidget") != -1) 
    {
        var i;
        var stuff = ['name','id','class','style','readonly'];
        var attrs = "";
        for (i = 0; i < stuff.length; i++) 
        { 
            if($(this).attr(stuff[i]))
            {
                attrs+=stuff[i]+"='"+$(this).attr(stuff[i])+"' ";
            }
        }
        value = ''
        if($(this).attr('value'))
        {
            value = $(this).attr('value');
        }
        $(this).replaceWith("<textarea "+attrs+">"+value+"</textarea>");
      }
});
</script>
{% endblock %}
