{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner %}
<h1>Zarejestruj się</h1>
<br><br>
<a href='{% static "/doc/umowa.pdf" %}' target="_blank"> {% trans "Zapoznaj się z umową udziału w programie Jem Lokalnie (producent, sklep, restaurator)" %}.</a><br>
<a href='{% static "/doc/regulamin.pdf" %}' target="_blank">{% trans "Zapoznaj się z regulaminem dla wytwórców i dystrybutorów" %}.</a><br>
<a href='{% static "/doc/rodo.pdf" %}' target="_blank">{% trans "Zapoznaj się z polityką prywatności oraz zasadami ochrony danych osobowych (RODO)." %}</a><br><br>


<form class="signup" id="signup_form" method="post" action="{% url 'dolacz:contact_form' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans "Sign Up" %}</button>
</form>
<script>
	$('[for="id_username"]').append("(bez polskich znaków)")
</script>
{% endblock %}

