{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block inner %}
    <h1>{% trans "Zweryfikuj swój adres email" %}</h1>

    <p>{% blocktrans %}Wysłaliśmy email na podany adres. Celem potwierdzenia rejestracji oraz weryfikacji adresu email prosimy kliknij w link aktywacyjny. Jeżeli nie otrzymasz emaila w ciągu kilku minut napisz do nas na biuro@jemlokalnie.org{% endblocktrans %}</p>

{% endblock %}

