<div stlyle='margin-top:10px; margin-bottom:10px'>
{% for fform in form %}
	{% for field in fform.visible_fields %}
		{% if field.value %}
		<img src="/media/{{field.value}}" style='max-height: 200px; padding: 10px; margin-right:10px;border: 1px solid black;float:left;'>
		{% endif %}
	{% endfor %}
{% endfor %}
</div>
<br style='clear:both'>