{% extends "base.html" %}
{% load taggit_templatetags2_tags %}
{% load leaflet_tags %}
{% load static i18n %}
{% load qr_tags %}

{% block title %}Jemlokalnie | {{object.name}}{% endblock %}

{% block content %}
<div class="container">
  <h1>{{object.name}}</h1>
    {{object.long}}<br/>
  <br>
  <div >
  {% for img in images %}
    <a href='{{img.img}}' target="_blank" style='float:left; display: inline-block;'><img src='{{img.thumb}}' style='padding:10px;margin-right:10px; margin-bottom:10px; border:1px solid black;'></a>
  {% endfor %}
  {% qr_from_text contact.url 222 %}
  </div>
  <br style="clear:both">
  <br>

  <h3>Kontakt:</h3>
    {{object.adress}}<br />
      <a href="email:{{object.of_user.email}}">{{object.of_user.email}}</a><br />
    <a href="tel:{{object.of_user.phone}}">{{object.of_user.phone}}</a>
  <h3>Słowa kluczowe:</h3>
        {% for tag in object.tags.all %}{{tag}}{% if not forloop.last %}, {% endif %}{% endfor %}
  <br />
   <h3>Mapa:</h3>
  {% leaflet_map "main" callback="main_map_init" %}
  <script type="text/javascript">
    function main_map_init (map, options)
    {
        var icon = L.Icon.extend({ options: { shadowUrl: '/static/images/marker00.png',
        iconSize:     [35, 49],shadowSize:   [54, 24],iconAnchor:   [17, 50],shadowAnchor: [16, 25],popupAnchor:  [5, -49]} });
        //map.scrollWheelZoom.disable();
        map.setView([{{object.location}}], 10);
        var pIcon1 = new icon({iconUrl: '/static/images/marker01.png'})
        var pIcon2 = new icon({iconUrl: '/static/images/marker02.png'})
        var pIcon3 = new icon({iconUrl: '/static/images/marker03.png'})
        var marker;
        marker = L.marker([{{object.location}}], {icon: {{object.picon}}}).bindTooltip("{{object.name}}").addTo(map);
        marker.bindPopup("<b>{{object.name}}</b><br>{{object.short}}.").openPopup();
    }
    </script>
</div>

<script type="text/javascript">
</script>

{% endblock content %}
