{% extends "base.html" %}
{% load leaflet_tags %}
{% load taggit_templatetags2_tags %}
{% load static i18n %}
{% block title %}Jemlokalnie | {{the_name}}{% endblock %}

{% block banner %}
{% leaflet_map "main_map" callback="main_map_init" %}
{% endblock banner %}

{% block content %}
<div class="container">
  <h2>{{the_name}}:</h2>
</div>


{% leaflet_map "main_map" callback="main_map_init" %}
<script type="text/javascript">

function main_map_init (map, options)
{
    //map.scrollWheelZoom.disable();
    var icon = L.Icon.extend({ options: { shadowUrl: '/static/images/marker00.png',
    iconSize:     [35, 49],shadowSize:   [54, 24],iconAnchor:   [17, 50],shadowAnchor: [16, 25],popupAnchor:  [5, -49]} });
    var pIcon1 = new icon({iconUrl: '/static/images/marker01.png'})
    var pIcon2 = new icon({iconUrl: '/static/images/marker02.png'})
    var pIcon3 = new icon({iconUrl: '/static/images/marker03.png'})

    var marker;
    {% for obj in object_list  %}
    {% if obj.location %}
    marker = L.marker([{{obj.location}}],  {icon: {{obj.picon}}}).bindTooltip("{{obj.name}}").addTo(map);
    marker.bindPopup("<b><a href='{{obj.url}}'>{{obj.name}}</a><br>{{obj.short}}.</b><br>{% for tag in obj.tags.all %}{{tag}}{% if not forloop.last %}, {% endif %}{% endfor %}",{className: '{{obj.picon}}'});
    {% endif %}
    {% endfor %}
    map.setZoom(6);
}
</script>
{% for obj in object_list  %}
{% if obj.ready %}
<div class="col-md-6 single-box">
    <div>
        <a href="{{obj.url}}" class='{{obj.picon}}'><h2>{{obj.name}}</h2></a>
        <br>
        <h3>
        {% for tag in obj.tags.all %}{{tag}}{% if not forloop.last %}, {% endif %}{% endfor %}
        </h3>
        <br>
        {{obj.short}}
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock content %}
