{% extends "base.html" %}
{% load leaflet_tags %}
{% load static i18n %}
{% load random_numbers %}
{% block title %}Jemlokalnie | O nas{% endblock title %}
{% block banner %}
<img src="{% static 'images/landing' %}{% random_int 1 4 %}.jpg" class='baner-landing' usemap="#Map" border="0" />
{% endblock banner %}
{% block content %}
<center>
<a name='onas' class="nohover"><h1 class='bold'>O nas</h1></a>
<p class="h2">
Ideą powstania stowarzyszenia Jem <span class='accent'>Lokalnie.org</span> była chęć promowania lokalnych producentów i przetwórców żywności, którzy do tej pory byli dla większości z nas anonimowi.<br><br>
  Z przyświecającej powstaniu stowarzyszenia idei, narodził się pomysł stworzenia ogólnopolskiego programu promocji i certyfikacji „Jem Lokalnie”, do którego zapraszamy producentów i przetwórców żywności oraz restauracje i sklepy, które będą pełnić rolę ambasadorów idei wspierania lokalnych producentów żywności.<br><br>
  Program promocji i certyfikacji „Jem Lokalnie” ma na celu wspieranie lokalnych producentów żywności poprzez promocję i certyfikację sklepów i restauracji będących jego uczestnikami.<br>
  Restauracje i sklepy, w założeniu programu mają być swoistymi kulinarnymi HUB’ami, łączącymi lokalnych producentów żywności z nami, konsumentami.
 </p><br><br>
</center>
<br>
<hr>
<center class='littlepad'>
<center>
<a name='partnerzy' class='nohover'><h1 class='bold'>NASI PARTNERZY:</h1></a><br>
<a href="https://lodr-bratoszewice.pl" title="Łódzki Ośrodek Doradztwa Rolniczego w Bratoszewicach" target="_blank"><img title="Łódzki Ośrodek Doradztwa Rolniczego w Bratoszewicach" src="{% static 'images/bannerekLODR.jpg' %}"></a>
<br><br><br><br><br>
<hr style='margin-top:0 !important;'>
<br><br>
<center>
<a name='jaktodziala' class="nohover"><h1 class='bold'>Jak to działa</h1></a>
<h3 class="bold">
Każdy uczestnik programu <strong class='warning'>Jem Lokalnie</strong> posiada swoją własną podstronę na portalu&nbspJemLokalnie.org.<br>
<strong>W każdym punkcie gastronomicznym</strong> (restauracja, bar, etc.) biorącym udział w programie  znajduje się ogólnodostępna lista <strong class='warning'>lokalnych</strong> dostawców i&nbsp;odpowiadające&nbsp;im&nbsp;kody&nbsp;<strong>QR</strong>.
<br><br>
Po zeskanowaniu kodu QR zostaniesz przeniesiony na dedykowaną danemu dostawcy podstronę na portalu JemLokalnie.org gdzie znajdziesz o nim wszystkie informacje.<br><br>
Każdy punkt gastronomiczny oraz każdy punkt handlowy posiada swoją własną podstronę na portalu JemLokalnie.org, na której znajdziesz listę producentów zaopatrujących dany punkt oraz inne informacje i ciekawostki. 
</h3>
<br><br>
<img src="{% static 'images/qrkod.jpg' %}" class='baner-landing' />
<hr style='margin-top:0 !important;'>
</center>
<br>
<center>
<h1>Jeżeli działasz w szeroko rozumianej branży spożywczej i nasze wartości są Ci się bliskie </h1><br>
<a href="{% url 'dolacz:contact_form' %}#dolacz" class='btn btn-primary'>Dołącz do nas!</a>
<br><br><br>
</center>

{% endblock content %}