{% extends "base.html" %}
{% load leaflet_tags %}
{% load static i18n %}
{% block banner %}
<style>

</style>
<img src="{% static 'images/landing.jpg' %}" class='baner-landing'/>
<center>
<p class="h2 bold">sdfs
Ideą powstania stowarzyszenia Jem <span class='accent'>Lokalnie.org</span> była chęć promowania lokalnych producentów i przetwórców żywności, którzy do tej pory byli dla większości z nas anonimowi.<br><br>
  Z przyświecającej powstaniu stowarzyszenia idei, narodził się pomysł stworzenia ogólnopolskiego programu promocji i certyfikacji „Jem Lokalnie”, do którego zapraszamy producentów i przetwórców żywności oraz restauracje i sklepy, które będą pełnić rolę ambasadorów idei wspierania lokalnych producentów żywności.<br><br>
  Program promocji i certyfikacji „Jem Lokalnie” ma na celu wspieranie lokalnych producentów żywności poprzez promocję i certyfikację sklepów i restauracji będących jego uczestnikami.<br>
  Restauracje i sklepy, w założeniu programu mają być swoistymi kulinarnymi HUB’ami, łączącymi lokalnych producentów żywności z nami, konsumentami.
 </p><br><br>
</center>
<br>
<center>
<h2>Legenda:</h2><br>
<a href={% url 'website:producenci' %}><img class='upme' style='width:auto;'src="{% static 'images/marker01.png' %}">Producenci&nbsp;&nbsp;</a>
<a href={% url 'website:restauracje' %}><img class='upme' style='width:auto;' src="{% static 'images/marker02.png' %}">Restauracje&nbsp;&nbsp;</a>
<a href={% url 'website:sklepy' %}><img class='upme' style='width:auto;'src="{% static 'images/marker03.png' %}">Sklepy</a><br>
<br></center>
{% leaflet_map "main_map" callback="main_map_init" %}
{% endblock banner %}
{% block content %}
<script type="text/javascript">
function main_map_init (map, options)
{
  //map.scrollWheelZoom.disable();
  var icon = L.Icon.extend({ options: { shadowUrl: '/static/images/marker00.png',
        iconSize:     [35, 49],shadowSize:   [54, 24],iconAnchor:   [17, 50],shadowAnchor: [16, 25],popupAnchor:  [5, -49]} });
  var pIcon1 = new icon({iconUrl: '/static/images/marker01.png'})
  var pIcon2 = new icon({iconUrl: '/static/images/marker02.png'})
  var pIcon3 = new icon({iconUrl: '/static/images/marker03.png'})
  var marker;
  {% for obj in object_list  %}
  {% if obj.location %}
  marker = L.marker([{{obj.location}}],  {icon: {{obj.picon}}}).bindTooltip("{{obj.name}}").addTo(map);
  marker.bindPopup("<b><a href='{{obj.url}}'>{{obj.name}}</a><br>{{obj.short}}.</b><br>{% for tag in obj.tags.all %}{{tag}}{% if not forloop.last %}, {% endif %}{% endfor %}",{className: '{{obj.picon}}'});
  {% endif %}
  {% endfor %}

  map.setZoom(6);
}
</script>
{% endblock content %}