{% extends "base.html" %}
{% load leaflet_tags %}
{% load static i18n %}
{% load random_numbers %}
{% block banner %}
<img src="{% static 'images/landing' %}{% random_int 1 4 %}.jpg" class='baner-landing' usemap="#Map" border="0" />
<map name="Map" id="Map">
  <area shape="circle" coords="1239,343,259" href="#producenci" title="Rolnicy,Producenci - zobacz więcej!"/>
  <area shape="circle" coords="2033,570,262" href="#restauracje" title="sklepy, Restauracje - zobacz więcej!"/>
  <area shape="circle" coords="1632,1199,256" href="#konsumenci" title="Klienci, Konsumenci - zobacz więcej!"/>
</map>
{% endblock banner %}
{% block content %}
<center>
<h2>Legenda:</h2><br>
<a href={% url 'website:producenci' %}><img class='upme' style='width:auto;'src="{% static 'images/marker01.png' %}">Producenci&nbsp;&nbsp;</a>
<a href={% url 'website:restauracje' %}><img class='upme' style='width:auto;' src="{% static 'images/marker02.png' %}">Restauracje&nbsp;&nbsp;</a>
<a href={% url 'website:sklepy' %}><img class='upme' style='width:auto;'src="{% static 'images/marker03.png' %}">Sklepy</a><br>
<br></center></div>
{% leaflet_map "main_map" callback="main_map_init" %}

<br>
<div class="container">
<center class='littlepad'>
<a name='jaktodziala' class="nohover"><h1 class='bold'>Jak to działa</h1></a>
<h3 class="bold">
Każdy uczestnik programu <strong class='warning'>Jem Lokalnie</strong> posiada swoją własną podstronę na portalu&nbspJemLokalnie.org.<br>
<strong>W każdym punkcie gastronomicznym</strong> (restauracja, bar, etc.) oraz <strong>w każdym punkcie handlowym</strong> (sklep, stragany, etc.) biorącym udział w programie  znajduje się ogólnodostępna lista <strong class='warning'>lokalnych</strong> dostawców i&nbsp;odpowiadające&nbsp;im&nbsp;kody&nbsp;<strong>QR</strong>.
<br><br>
Po zeskanowaniu kodu QR zostaniesz przeniesiony na dedykowaną danemu dostawcy podstronę na portalu JemLokalnie.org gdzie znajdziesz o nim wszystkie informacje.<br><br>
Każdy punkt gastronomiczny oraz każdy punkt handlowy posiada swoją własną podstronę na portalu JemLokalnie.org, na której znajdziesz listę producentów zaopatrujących dany punkt oraz inne informacje i ciekawostki. 
</h3>
<br><br>
<img src="{% static 'images/qrkod.jpg' %}" class='baner-landing' />
<hr style='margin-top:0 !important;'>
<br><br>

<a name='partnerzy' class='nohover'><h1 class='bold'>NASI PARTNERZY:</h1></a><br>
<a href="https://lodr-bratoszewice.pl" title="Łódzki Ośrodek Doradztwa Rolniczego w Bratoszewicach" target="_blank"><img title="Łódzki Ośrodek Doradztwa Rolniczego w Bratoszewicach" src="{% static 'images/bannerekLODR.jpg' %}"></a>
<br><br><br><br><br>
<hr style='margin-top:0 !important;'>
<br><br>

<a name='producenci' class='nohover'><h1 class='bold'>PRODUCENT / ROLNIK</h1></a><br>
Jesteś producentem lub przetwórcą żywności? Bardzo nam miło, że tu jesteś :-)  
Zapraszamy do udziału w programie „Jem Lokalnie”, którego misją jest wypromowanie Twojej działalności i oferowanych produktów. Udział w programie umożliwi Ci nawiązywanie kontaktów z nowymi odbiorcami i pozwoli zaistnieć w ogólnopolskiej akcji promowania najwyższej jakości żywności produkowanej przez naszych lokalnych producentów.<br><br>
Jeżeli jesteś producentem żywności, czyli prowadzisz gospodarstwo rolne, uprawę, hodowlę, przetwórnię lub inną formę produkcji, która jest prowadzona metodami ekologicznymi lub/i tradycyjnymi lub/i innymi potwierdzonymi certyfikatami jakości, to znaczy że program „Jem Lokalnie” jest właśnie dla Ciebie. Wyślij nam zgłoszenie z danymi kontaktowymi, napisz co produkujesz i zostań uczestnikiem programu „Jem Lokalnie”. Czekamy na Ciebie :-)
<br><br>
<a href="{% url 'dolacz:contact_form' %}#dolacz" class='btn btn-warning'>Dołącz do nas!</a>
<br><br>
<a href="{% url 'website:producenci' %}" class='btn btn-primary'>Producenci</a>
<br><br>
<hr>
<br>
<h1 class='bold'><a name='restauracje' class='nohover'>RESTAURACJA /</a><a name='sklepy' class='nohover'> SKLEP / CATERING / BAR / …</a></h1></a><br>
Prowadzisz restaurację lub sklep? A może catering? Sprzedajesz żywność w swoim sklepie lub na straganie na rynku? A może realizujesz się w jeszcze inny, nietypowy sposób dostarczając swoim klientom potrawy lub produkty spożywcze najwyższej jakości? Do tego stworzyłeś/aś sobie sieć dostawców, która w przynajmniej 30% składa się z bezpośrednich dostaw od lokalnych producentów i przetwórców żywności? Gratulujemy :-)! Dzięki swojej pracy i pasji spełniłeś/aś właśnie wszystkie kryteria, które umożliwiają Ci uczestnictwo w programie „Jem Lokalnie”. Wyślij nam zgłoszenie z danymi kontaktowymi, napisz o swoim sklepie, restauracji, firmie cateringowej.. <br><br>Po prostu napisz nam o sobie, o tym co robisz! Skontaktujemy się z Tobą i pomożemy Ci <strong class='primary'>wypromować</strong> miejsce, które z zaangażowaniem i pasją tworzysz.<br>
<br><br>
<a href="#jaktodziala" class='btn btn-primary'>Sprawdź jak to działa</a>
<br><br>
<a href="{% url 'dolacz:contact_form' %}#dolacz" class='btn btn-warning'>Dołącz do nas!</a>
<br><br>
<a href="{% url 'website:sklepy' %}" class='btn btn-primary'>Sklepy</a>
<br><br>
<a href="{% url 'website:restauracje' %}" class='btn btn-primary'>Restaurecje</a>
<br><br>
<hr>
<a name='konsumenci'  class='nohover'><h1 class='bold'>KONSUMENT</h1></a><br>
Bardzo nam miło, że tu jesteś. Zostań na chwilę i przeczytaj co robimy, bo robimy to właśnie dla Ciebie :-)
Program „Jem Lokalnie” został zaprojektowany by <strong class='primary'>promować i edukować</strong>. 
Promować producentów najwyższej jakości żywności oraz sklepy, restauracje, firmy cateringowe, etc. współpracujące z nimi na poziomie lokalnym.
Edukować nas, konsumentów. Poprawiać naszą świadomość, kierować naszą uwagę na jakość bo to my swoimi wyborami kreujemy cały kulinarny świat. To my wydeptujemy drogę do lepszej przyszłości za każdym razem, kiedy decydujemy gdzie i co zjemy oraz gdzie zrobimy zakupy na kolejny domowy obiad. <br><br>
<strong>Co dla Ciebie przygotowujemy?</strong><br>
Po pierwsze, listę lokalnych producentów żywności (rolników, przetwórców).<br>
Po drugie, listę punktów gastronomicznych (restauracje, bary, etc.) w których możesz sprawdzić pochodzenie produktów, z których przygotowywane są potrawy.<br>
Po trzecie, listę punktów handlowych (sklepy, stragany, etc.) w których możesz sprawdzić skąd pochodzą produkty, które kupujesz.<br>
<br>
<strong>I najważniejsze, liczymy na Twoją pomoc i zaangażowanie! Jeżeli znasz kogoś kto:</strong><br>
- prowadzi gospodarstwo lub produkuje żywność (uprawy i hodowle, przetwórcy – owoców, warzyw,…; producenci nabiału, wędlin, win,…; młyny, pasieki etc.)<br>
- prowadzi punkt gastronomiczny (restauracja, bar, catering, etc.)<br>
- prowadzi punkt handlowy (sklep, stragan, etc.)<br>
<br>
<strong>i uważasz, że robi świetną robotę, daj nam znać na <a href='mailto:biuro@jemlokalnie.org'>biuro@jemlokalnie.org</a></strong><br>Skontaktujemy się z nim i zaprosimy do uczestnictwa w programie.<br>
</h2><br>
</center>
</center>
</div>
<script type="text/javascript">
function main_map_init (map, options)
{
  var icon = L.Icon.extend({ options: { shadowUrl: '/static/images/marker00.png',
        iconSize:     [35, 49],shadowSize:   [54, 24],iconAnchor:   [17, 50],shadowAnchor: [16, 25],popupAnchor:  [5, -49]} });
  var pIcon2 = new icon({iconUrl: '/static/images/marker02.png'})
  var pIcon1 = new icon({iconUrl: '/static/images/marker01.png'})
  var pIcon3 = new icon({iconUrl: '/static/images/marker03.png'})
  var marker;
  {% for obj in object_list  %}
  {% if obj.location %}
  marker = L.marker([{{obj.location}}],  {icon: {{obj.picon}}}).bindTooltip("{{obj.name}}").addTo(map);
  marker.bindPopup("<b><a href='{{obj.url}}'>{{obj.name}}</a><br>{{obj.short}}.</b><br>{% for tag in obj.tags.all %}{{tag}}{% if not forloop.last %}, {% endif %}{% endfor %}",{className: '{{obj.picon}}'});
  {% endif %}
  {% endfor %}
  map.setZoom(8);
}
</script>
{% endblock content %}