﻿@import "_Supernice.less";
@import "_font-awesome.min.css";
@dim_collor: #f5f5f5;
@main_collor: #45b648;
.accent
{
    color: @main_collor !important;
}
.btn
{
  font-family: Amatic SC !important;
  font-size: 21px;
}
.form-control
{
  min-height: 40px !important;
}

@media (max-width: 1023px)
{
	.navbar-collapse.collapse
	{
		display: none !important;
	}

	.navbar-collapse.collapse.show
	{
		display: block !important;
	}
}
.container
{
    min-height: 40px;
}

[name='location'], [name$='-location'] {
    display: block;
    height: 0px;
    width: 0px;
    padding: 0;
    margin: 0;
    border: 0;
    position: absolute;
}

.footer {
    bottom: 0;
    width: 100%;
    min-height: 60px;
    background-color: @dim_collor;
    padding-top: 30px;
    padding-bottom: 30px;
    position:absolute;
    margin-top:20px;
    @media screen and (max-width: 755px) 
    {
        padding-bottom: 80px;
    }
}

body 
{
	padding-bottom: 90px;
	@media screen and (max-width: 755px) 
	{
		padding-bottom: 180px;
	}
	@media screen and (max-width: 500px) {
		padding-bottom: 240px;
	}
	position:relative;
    min-height: 100vh;
}


.min-logo {
    display: inline-block;
    width: 82px;
    height: 27px;
    background-image: url('../images/logo-jemlokalnie-www.png');
    background-size: 82px 27px;
    margin-left: 7px;
    position: absolute;
    margin-top: -2px;
}

.logo {
    display: inline-block;
    width: 82px;
    height: 27px;
    background-image: url('../images/logo-jemlokalnie-www.png');
    background-size: 82px 27px;
    background-position-y: 2px
}

.sep-small {
    @media screen and (max-width: 755px) {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    @media screen and (max-width: 500px) {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.navbar-brand {
    padding: 10px;

    .logo {
    }

    h1 {
        margin-top: -20px !important;
        display: inline-block;
        line-height: 20px;
        color: @main_collor;
    }
}

.bg-faded {
    background-color: @dim_collor !important;
    border: none !important;
}

.navbar-default {
    .navbar-toggle {
        border: none;
        border-radius: 5px;
        &:focus,&:hover
        {
        	background-color: white;
        	.icon-bar {}
        }
        .icon-bar {
            background-color: @main_collor;
        }

     }
    }


.leaflet-popup
{
    a,h1
    {
    	color: @main_collor !important;
    }
}

#map_location, .leaflet-container {

    width: 100% !important;
    max-height: 90vh  !important;
}

#main_map
{
    max-height: 80vh  !important;
    min-height: 600px;
    @media screen and (max-height: 700px) {
        min-height: 70vh;
        max-height: 80vh  !important;
    }

}

.form-control[disabled], fieldset[disabled]
{
	input
	{
		background:white !important;
		border:none !important;
	}
}

.baner-landing
{
    margin-top: -20px !important;
    margin-bottom: 0px !important;
    overflow: hidden;

    img
    {
        width: 100%;
    }
    p 
    {
        max-width: 500px !important; 
        display: block !important;
    }
}
img.baner-landing
{
    width: 100%;
    @media (max-width: 767px) 
    {
        width: 200vw;
        margin-left: -50vw;
    }
}

.upme
{
    position:relative !important;
    top:-5px;
}


.bold
{
    font-weight:600 !important;
}

p.text-danger.help-block
{
    color:orange !important;
}

.pIcon2 a, a.pIcon2 h2, a.pIcon2
{
    color: #ffde00 !important;
    &:hover
    {
        color: #ffde00 !important;
    }
}

.pIcon3 a, a.pIcon3 h2, a.pIcon3
{
    color: #ff6600 !important;
    &:hover
    {
        color: #ff6600 !important;
    }
}

.single-box
{
    div
    {
        border-bottom: 1px dashed gray;
        padding-bottom:10px;
    }
    padding-right:20px;
    padding-bottom:20px;

    h1, h2, h3
    { 
        margin:0 !important;
    }
}

.leaflet-container-default:not(.leaflet-container)
{
    display: none;
}

a.nohover:hover
{
    text-decoration: none !important;
    border-bottom: none !important;
}

strong.primary
{
    color: @main_collor !important;
}
strong.warning
{
    color: #eea236 !important;
}

.littlepad
{
    overflow:hidden !important;
}