{% extends "base.html" %}
{% load static i18n %}
{% block title %}400{% endblock %}
{% block banner %}
<center>
<p class="h2">
Nic na ten temat nie wiemy [400]<br><br>
</center>
<a href="/" ><img src="{% static 'images/landing.jpg' %}" class='baner-landing'></a>
{% endblock banner %}
{% block content %}

{% endblock content %}
