{% extends "base.html" %}
{% load static i18n %}
{% block title %}404{% endblock %}
{% block banner %}
<center>
<p class="h2">
Tutaj nie wypuszczamy [403] <br><br> 
</center>
<a href="/" ><img src="{% static 'images/landing.jpg' %}" class='baner-landing'></a>
{% endblock banner %}
{% block content %}

{% endblock content %}
