{% extends "base.html" %}
{% load static i18n %}
{% block title %}403{% endblock %}
{% block banner %}
<center>
<p class="h2">
Prawdopodobnie upłynęło już trochę czasu między tym kiedy odwiedziłeś naszą stronę a chwilą kiedy odsyłasz nam formularz. [CRSF, 403]<br><br> 
</center>
<a href="/" ><img src="{% static 'images/landing.jpg' %}" class='baner-landing'></a>
{% endblock banner %}
{% block content %}

{% endblock content %}
