{% extends "base.html" %}
{% load static i18n %}
{% block title %}Zgubiliśmy się{% endblock %}
{% block banner %}
<center>
<p class="h2">
Nie znaleźliśmy strony o podanym adresie<br><br>
</center>
<a href="/" ><img src="{% static 'images/landing.jpg' %}" class='baner-landing'></a>
{% endblock banner %}
{% block content %}

{% endblock content %}
