﻿{% load staticfiles i18n %}<!DOCTYPE html>
{% load leaflet_tags %}
<html lang="en"><head><meta charset="utf-8">
    <link rel="icon" href="/static/images/favico.ico" type="image/x-icon" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Jemlokalnie {% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="www.pawellukaszewicz.com">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% block css %}
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"-->
    <dlink rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/project.css' %}?20190426" rel="stylesheet">
    <style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin-ext');
    </style>

    {% leaflet_css %}
    {% endblock %}

    {% block javascript %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116210728-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-116210728-1');
    </script>
      <!-- Required by Bootstrap v4 Alpha 4 -->
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
      <script src="{% static 'js/project.js' %}"></script>
      <script src="{% static 'js/imageMapResizer.min.js' %}"></script>
    {% leaflet_js %}
    {% endblock javascript %}
  </head>
  <body><div class="m-b-1">
<nav class="navbar navbar-default bg-faded navbar-static-top"> 
      <div class="container"> 
        <div class="navbar-header"> 
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8" aria-expanded="false"> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
          </button> 
          
            <a class="navbar-brand" href="{% url 'website:home' %}"><h1 style='margin-top:-10px !important'>jemlokalnie.org</h1> <div class='logo'></div></a>
        </div> 
        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-8" aria-expanded="false" style="height: 1px;"> 
          <ul class="nav navbar-nav"> 
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'website:about' %}">O Nas</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'website:producenci' %}">Producenci</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'website:restauracje' %}">Restauracje</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'website:sklepy' %}">Sklepy</a>
                  </li>
                  {% if request.user.is_authenticated %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'users:detail' request.user.username  %}">{% trans "Moje konto" %}</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                      <a id="sign-up-link" class="nav-link" style='color:#45b648 !important' href="{% url 'dolacz:contact_form' %}">{% trans "Dołącz" %}</a>
                  </li>
                  <!--li class="nav-item">
                      <a id="log-in-link" class="nav-link" href="url 'dolacz:contact_form' #dolacz">{% trans "Dołącz" %}</a>
                  </li-->
                  <li class="nav-item">
                      <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
                  </li>
                  {% endif %}

          </ul> 
        </div> 
       </div> 
</nav>
</div>
<div class='baner-landing'>
{% block banner %}
{% endblock banner %}
</div>
    <div class="container">
      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
      {% endif %}

      {% block content %}
        
      {% endblock content %}
    </div> <!-- /container -->
  {% block content2 %}
  {% endblock content2 %}
   <div class="container">
      {% block content3 %}
        
      {% endblock content3 %}
    </div> <!-- /container -->
      <footer class="footer">
          <div class="container">
              <div class="col-md-3 col-sm-6 col-xs-12 text-muted sep-small">Skontaktuj się z nami:</div>
              <div class="col-md-3 col-sm-6 col-xs-12 text-muted sep-small">
                  <a href="tel:+48 536 760 295">+48 536 760 295</a>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 text-muted sep-small">
                  <a href="mailto:biuro@jemlokalnie.org">biuro@jemlokalnie.org</a>
              </div>
                <div class="col-md-3 col-sm-6 col-xs-6 text-muted sep-small">
                    <!--a href="https://facebook.com/jemlokalnieorg" target="_blank"><i class="fa fa-facebook" style="font-size: 22px;" aria-hidden="true"></i--><div class="min-logo"></div>
                </div>
              <br><br>
          </div>
      </footer>
    {% block modal %}{% endblock modal %}
  <script type="text/javascript">
    imageMapResize();
  </script>
  </body>
</html>
 


