{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static i18n %}
{% block title %}Jemlokalnie | Dołącz{% endblock title %}
{% block banner %}
<img src="{% static 'images/landing.jpg' %}" class='baner-landing'/>
{% endblock banner %}
{% block content %}
<br>
<center>
<a class='nohover'><h1 class='h1 bold '>Rejestracja w systemie nie jest jeszcze aktywna. Proszę wyślij nam email podając w treści kim jesteś i jakąś formę kontaktu do Ciebie
a odezwiemy się, gdy tylko system ruszy!</h1></a><br>
</center>
<div class='col-md-1 col-sm-1 col-xs-1 '></div>
<div class='col-md-10 col-sm-10 col-xs-10 '>
	<br>
	<form class="form-horizontal" method="post" action="{% url 'dolacz:contact_form' %}">
	    {% csrf_token %}
	    {{ form.media }}
	    {{ form|crispy }}

	    <div class="control-group">
	      <div class="controls">
	      	<a name='dolacz'>
	        <button type="submit" class="btn btn-primary">Wyślij</button></a>
	      </div>
	    </div>
	  </form>

<br><br>
</div>
{% endblock content %}

