{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static i18n %}
{% block title %}Jemlokalnie|WysłaneDołącz{% endblock title %}
{% block banner %}
<img src="{% static 'images/landing.jpg' %}" class='baner-landing'/>
{% endblock banner %}
{% block content %}
<br>
<center>
<a name='dolaczok' class='nohover'><h1 class='h1 bold '>Dziękujemy za zainteresowanie. Odezwiemy się niebawem!</h1></a><br><br>
</center>
<br><br>
</div>
{% endblock content %}

